<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FPS-Resultados Encuesta</title>
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="shortcut icon" type="image/x-icon" href="resources/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="resources/css/style.css">

        <script src="https://cdn.jsdelivr.net/npm/vega@4.0.0-rc.3/build/vega.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@2.6.0/build/vega-lite.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@3.16.0/build/vega-embed.js"></script>   

    </head>

    <body class="body_dark">        
    	<div class="container">
        	<div class="row">
          		<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
					<a href="{% url 'web:home' %}" class="navbar-brand"><img src="resources/img/top_portada1.jpg" style="width: 190px;"></a>


					<div class="container">
						<a class="navbar-brand" href="#">							
							Resultados - Medición de Satisfacción al Ciudadano
						</a>

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarResponsive">
							<ul class="navbar-nav ml-auto">								
							</ul>
						</div>
					</div>
					<a href="{% url 'web:home' %}" class="navbar-brand"><img src="resources/img/logoencabeszado.jpg" style="width: 350px;"></a>
				</nav>

				<div class="col-12">
		            <!--
		            
		            
					<div>
						<br><br><br>
						<p style="margin: 0px"><strong>Pregunta 1: </strong>¿El trato que recibio en la atención fue?</p>
						<p style="margin: 0px"><strong>Pregunta 2: </strong>¿El tiempo de atención fue?</p>
						<p style="margin: 0px"><strong>Pregunta 3: </strong>¿El funcionario que lo atendió fue claro con la información brindada?</p>
						<p style="margin: 0px"><strong>Pregunta 4: </strong>¿El funcionario que lo antedió esuchó atentamente su solicitud?</p>
						<p style="margin: 0px"><strong>Pregunta 5: </strong>¿El funcionario le informó sobre el trámite a seguir?</p>
						<p style="margin: 0px"><strong>Pregunta 6: </strong>¿Considera que las instalaciones de las oficinas donde lo atendieron están adecuadas a sus necesidades?</p>
						<p style="margin: 0px"><strong>Pregunta 7: </strong>¿Ha tenido la oportunidad de comprobar que los funcionarios cuentan con elementos de trabajo suficientes para llevar a cabo su trabajo?</p>
						<br>
					</div>
					-->
					<br><br><br>
					
		            <div id="vis"></div>                    
		            <script src="resources/js/vlSpec.js"></script>
		        
		            <hr noshade size="1">
		            <br>					
					
				</div>
        	</div>
        </div> 
    </body>
   <footer>
        <div class="container-fluid text-center small custom_footer" >
        	<br>
        	<div><strong>FONDO DE PASIVO SOCIAL FERROCARILES NACIONALES DE COLOMBIA</strong></div>
            <div>Bogota D.C., Colombia</div>
			<div>Dirección: Calle 13 No. 18-24 Estación de la Sabana (Bogota-Colombia)</div>
			<div>E-mail: quejasyreclamos@fps.gov.co - comunicaciones@fps.gov.co</div>
			<div>PBX: (57) (1)3817171 - Ext. 100, 173, 181 y 180 - 2476775</div>
			<div>Linea Gratuita: 01-8000-09-12206</div>
			<div>Horarios de Atención: Lunes a Viernes 7:30 a.m - 4:00 p.m Jornada Continua</div>
			<div>Fecha de actualización: 11/09/2018</div>
			<br>
        </div>
    </footer>    
</html>