.vega-actions {
    display: none
}

.vega-actions a {
    margin-right: 15px;
}

html {
    
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

*::selection {
    background: rgb(204, 224, 255); /* WebKit/Blink Browsers */
}

.body_dark{
    background-color: #e8e8e8;
}

.custom_footer{
    background-color: #f4bc48;
    color:black;
}


*::-moz-selection {
    background: rgb(204, 224, 255); /* Gecko Browsers */  
}

.container {
    width: 1320px;
    
    /*margin: Top Right Button Left;  */   
    margin: 20px  auto 0 10px; 
}

.main-text,p{
    text-align: justify;
}